{% extends 'events/base.html' %}

{% block content %}



<h1>
	Venues...
	<a href="{% url 'add-venue' %}" type="button" class="btn btn-outline-primary" style="float: right;">
		Add Venue
	</a>
</h1>
<table class="table table-bordered table-striped table-hover">
	{% for venue in venue_list %}
	<tr >
		<td>
			<a href="{% url 'show-venue' venue.id %}">{{ venue }}</a> 
		</td>
		<td align="right" >
			<a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
			<a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}